* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
}

.main-content {
  margin: 0 30px;
}

/* MAKE A BUTTON MIXIN */
.header {
  margin-top: 200px;
  display: flex;
  flex-flow: column;
}
.header__title {
  font-family: "Raleway", sans-serif;
  font-size: 25;
  font-weight: bold;
}
.header__desc {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 149.9%;
  margin: 20px 0;
  color: #989898;
}
.header__buttons {
  display: flex;
  flex-flow: column;
  width: 100%;
}
.header__buttons__explore {
  background-color: #3CA89A;
  color: white;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  border: none;
  height: 40px;
  border-radius: 90px;
}
.header__buttons__additional {
  margin-top: 10px;
  background-color: white;
  color: black;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  border: none;
  height: 40px;
  border-radius: 90px;
  -webkit-box-shadow: 0 0 7px 3px rgba(145, 145, 145, 0.37);
  -moz-box-shadow: 0 0 7px 3px rgba(145, 145, 145, 0.37);
  box-shadow: 0 0 7px 3px rgba(145, 145, 145, 0.37);
}

@media (min-width: 600px) {
  .header {
    margin-top: 200px;
    display: flex;
    flex-flow: column;
    align-items: center;
  }
  .header__title {
    font-family: "Raleway", sans-serif;
    font-size: 60px;
    font-weight: bold;
    width: 550px;
    text-align: center;
  }
  .header__desc {
    display: none;
  }
  .header__buttons {
    margin-top: 40px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    width: 600px;
  }
  .header__buttons__explore {
    height: 50px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 90px;
    width: 100%;
    max-width: 280px;
  }
  .header__buttons__additional {
    height: 50px;
    font-size: 18px;
    width: 100%;
    max-width: 280px;
    margin-top: 0;
    -webkit-box-shadow: 0 0 7px 3px rgba(145, 145, 145, 0.37);
    -moz-box-shadow: 0 0 7px 3px rgba(145, 145, 145, 0.37);
    box-shadow: 0 0 7px 3px rgba(145, 145, 145, 0.37);
  }
}