.error {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  font-family: Raleway;
  margin: 170px auto 100px auto;
  text-align: center;

  &__header {
    background-color: #3ca89a;
    color: white;
    padding: 30px;
  }

  &__desc {
    margin-top: 50px;
  }
}
