.about{
    margin: 140px 30px 60px 30px;
    display: flex;
    flex-flow: row wrap;
    color: black;
    font-family: Raleway;
    justify-content: center;


    &__wrapper{
        display: flex;
        flex-flow: column;
        max-width: 700px;
        
        &__title{
            font-weight: bold;
            font-size: 25px;
            line-height: 29px;
        }

        &__desc{
            font-weight: 500;
            font-size: 16px;
            line-height: 161.4%;
            text-align: justify;
            margin: 30px 0;
            max-width: 600px;
        }
    }

    &__photo{
        max-width: 400px;
    }
}

@media (min-width: 800px) {

    .about{
        margin-top: 200px;
        display: flex;
        flex-flow: row wrap;
        color: black;
        font-family: Raleway;
        justify-content: center;

        &__wrapper{
            display: flex;
            flex-flow: column;
            max-width: 700px;
            padding: 20px;
            
            &__title{
                font-weight: bold;
                font-size: 30px;
                line-height: 29px;
            }
    
            &__desc{
                font-weight: 500;
                font-size: 20px;
                line-height: 161.4%;
                text-align: justify;
                margin: 30px 0;
                max-width: 600px;
            }
        }
    
        &__photo{
            max-width: 400px;
            margin: 0 40px;
        }
    }
}