* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
}

.main-content {
  margin: 0 30px;
}

.shadow {
  -webkit-box-shadow: 0 7px 6px -2px rgba(0, 0, 0, 0.51);
  -moz-box-shadow: 0 7px 6px -2px rgba(0, 0, 0, 0.51);
  box-shadow: 0 7px 6px -2px rgba(0, 0, 0, 0.51);
}

.nav {
  position: fixed;
  display: flex;
  background-color: white;
  width: 100vw;
  z-index: 999;
  transition: 0.2s;
}
.nav__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
  font-family: "Raleway", sans-serif;
}
.nav__wrapper__logo {
  width: 120px;
}
.nav__wrapper__hamburger {
  cursor: pointer;
}
.nav__wrapper__links {
  display: none;
}
.nav__wrapper__links__link a {
  display: block;
  color: black;
  text-decoration: none;
  transition: 0.2s;
  padding: 20px 0;
  text-align: center;
  border-bottom: 1px solid black;
}
.nav__wrapper__links__link a:hover {
  color: #3CA89A;
}
.nav__wrapper__links--hamburger {
  display: flex !important;
  flex-flow: column;
  position: absolute;
  z-index: 999;
  top: 80px;
  left: 0;
  list-style: none;
  width: 100%;
  background-color: white;
}
.nav__wrapper__cta {
  display: none;
}

@media (min-width: 800px) {
  .nav__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100vw;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px 50px;
    font-family: "Raleway", sans-serif;
  }
  .nav__wrapper__logo {
    width: 180px;
  }
  .nav__wrapper__hamburger {
    display: none;
  }
  .nav__wrapper__links {
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    width: 350px;
    font-size: 18px;
    font-weight: bold;
  }
  .nav__wrapper__cta {
    height: 40px;
    width: 180px;
    border-radius: 90px;
    background-color: #3CA89A;
    border: none;
    color: white;
    display: block;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s;
  }
  .nav__wrapper__cta:hover {
    opacity: 0.7;
  }
}